.codehilite {
  background: #2D2D2D;
  color: #E4E4E4;
  margin: 1em -20px;
  padding: 16px 20px;
  line-height: 1.4;
  font-size: 1rem;
  overflow: auto; }
  @media screen and (min-width: 530px) {
    .codehilite {
      margin-left: -32px;
      margin-right: 0;
      padding-left: 32px;
      padding-right: 0;
      font-size: 1.1rem; } }
  .codehilite pre {
    font-family: Inconsolata, courier, monospace;
    margin: 0;
    display: inline-block;
    padding-right: 16px; }
  .codehilite .p {
    color: #E4E4E4; }
  .codehilite .kd {
    color: #b294bb; }
  .codehilite .nx {
    color: #E4E4E4; }
  .codehilite .mi {
    color: #f48c5f; }
  .codehilite .s1 {
    color: #b2bd67; }
  .codehilite + .form-rows {
    margin-top: -1.1em; }

.event-loop-walkthrough {
  overflow: hidden;
  max-width: 710px;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  max-height: 90vh;
  height: 493px;
  position: relative;
  margin: 0 -20px; }
  @media screen and (min-width: 530px) {
    .event-loop-walkthrough {
      margin: 0; } }
  .event-loop-walkthrough .codehilite {
    margin: 0;
    padding: 0 12px;
    position: relative;
    top: 60px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  .event-loop-walkthrough table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; }
  .event-loop-walkthrough td {
    padding: 0; }
  .event-loop-walkthrough .prev-btn,
  .event-loop-walkthrough .next-btn {
    fill: transparent;
    cursor: pointer; }

.task-queue,
.microtask-queue,
.js-stack,
.event-loop-log {
  line-height: 1;
  border-top: 1px solid #FFF; }
  .task-queue th,
  .microtask-queue th,
  .js-stack th,
  .event-loop-log th {
    font-weight: normal;
    text-align: left;
    padding: 10px 5px;
    background: #ddd;
    vertical-align: top;
    width: 5.1rem; }

.event-loop-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 5px; }

.event-loop-rail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.event-loop-log .event-loop-items {
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.event-loop-item {
  background: #ddd;
  padding: 5px;
  margin: 5px 5px 5px 0;
  opacity: 0;
  white-space: nowrap; }
  .event-loop-item.active {
    background-color: #FFDF1E; }

.event-loop-commentary {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: #fff;
  line-height: 1.2;
  padding: 0 7%; }
  @media screen and (min-width: 530px) {
    .event-loop-commentary {
      font-size: 1.7rem; } }

.event-loop-commentary-item {
  background: rgba(0, 0, 0, 0.77);
  border-radius: 7px;
  padding: 0.8rem 1.2rem;
  opacity: 0; }

.js-source {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  background: #2D2D2D; }
  .js-source .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
    opacity: 0;
    line-height: 1.4;
    font-size: 1rem;
    font-family: Inconsolata, monospace; }
  .js-source .line-highlight::before {
    content: '.Hello';
    color: transparent; }
    @media screen and (min-width: 530px) {
      .js-source .line-highlight::before {
        font-size: 1.1rem; } }

.event-loop-controls {
  background: #DDDDDD;
  fill: #6D6D6D;
  padding: 0.6rem;
  height: 1.7rem;
  border-top: 1px solid #FFF; }
  .event-loop-controls svg {
    height: 100%;
    display: block;
    margin-right: 0;
    margin-left: auto; }
